#banner{
	 background: url(../images/banner.jpg);
	 background-repeat: no-repeat;
	 background-size: cover;
	 background-position: center;
	 background-attachment: fixed;
	 height: 600px;
}
body{
	/*font-family: 'Anton', sans-serif;
	font-family: 'Dancing Script', cursive;
	font-family: 'Italianno', cursive;
	font-family: 'Permanent Marker', cursive;
	font-family: 'ZCOOL KuaiLe', cursive;*/
}
.content{
	font-size: 50px;
    font-family: 'Dancing Script', cursive;
	

}

.form_main{
	height: 550px;
	width: 500px;
	background-color: gray;
	margin: 100px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(to right bottom,rgba(18, 137, 167,1.0),rgba(0, 148, 50,1.0),rgba(0, 98, 102,1.0));
	
}


.form_main:hover{
	box-shadow: 0px 0px 100px black;
}
.form_main form input{
	height: 40px;
	width: 250px;
	padding-left: 10px;
	border: none;
	outline: none;
	background: transparent;
	border: 2px solid #fff;
	border-radius: 30px;
	margin-top: 15px;
}

.form_main form label{
	color: white;
}

.form_main form input::placeholder{
	color: #ee9ca7;
}
.form_main form button{
	margin-left: 70px;
	padding: 10px 30px;
	border-radius: 30px;	
	border: none;
	outline: none;
	color: white;
	background-color: teal;
}

.form_main form label span{
	color: red;
}

.form_main form button:hover{
	box-shadow: 0px 0px 100px black;
}
